.fontsa{
  margin-left:-91px;
  font-size: 20px;
}    
.alignment{
  margin-left: -81px;       
}
.alignmenta{
  margin-left: -81px;
  width:350px;
  height: 30px;
  margin-top: 10px;       
}   
.backgrounda{
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.colorsa{
  background-color:#0259e3;
  margin-top: 535px; 
  margin-left: -345px;
  font-size: 20px;
  color: white;        
}
.colord{
  margin-top: 535px;
  margin-left: 20px;
  text-decoration: none;
}
p{
  color: red;
  margin-left: -61px;
}